# Database Configuration (MySQL)
DB_HOST=localhost
DB_USER=schoolos12_pratomtuter
DB_PASSWORD=$XS@hYq8b2nkuqo6
DB_NAME=schoolos12_pratomtuter
DB_PORT=3306

# Node Environment
NODE_ENV=production
PORT=3000
